{% extends "starter-page.html" %}
+{% load static %}

{% block content %}

   <h1 class="text-center">LIST OF APPOINTMENTS</h1>

    <table class="table table-success container">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>DateTime</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Action</th>

    </tr>


    {% for appointment1 in all  %}

    	<tr>
            <td>{{ appointment1.name }}</td>
            <td>{{ appointment1.email }}</td>
            <td>{{ appointment1.phone }}</td>
            <td>{{ appointment1.datetime }}</td>
            <td>{{ appointment1.department}}</td>
            <td>{{ appointment1.doctors }}</td>
            <td>{{ appointment1.message }}</td>
        <td>
            <a href="/edit/{{ appointment1.id }}" class="btn btn-outline-danger">Edit</a>
            <a href="/delete/{{ appointment1.id }}" class="btn btn-outline-primary">Delete</a>
            <a href="{% url 'pay' %}" class="btn  btn-outline-primary">Pay</a>
        </td>
        </tr>


    {% endfor %}


    
    </table>



{% endblock %}